.bulk-order-pickup {
  @include adaptive-value('padding-top', 70, 40, 1);

  &__top {
    @include adaptive-value('margin-bottom', 40, 30, 1);
  }

  &__title {
    @include fz30();
    @include adaptive-value('margin-bottom', 25, 15, 1);
  }

  &__text {
    font-size: 20px;
    color: #5b5a5a;

    @include breakpointsMaxW($bp-768) {
      font-size: 18px;
    }
  }

  &__map {
    width: 100%;
    @include adaptive-value('height', 385, 250, 1);
  }
}
