.promocode {
  color: var(--color-white);

  &__wrapper {
    @include background(cover);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @include adaptive-value('padding', 30, 20, 1);

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__text {
    line-height: 1.2;
    font-weight: 500;
    @include adaptive-value('font-size', 23, 20, 1);

    span {
      display: inline-block;
      margin-left: 10px;
    }
  }

  &__btn {
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    color: var(--color-white);
    padding: 20px 24px 20px 50px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: 200ms ease;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-dark);

      &::after {
        background-color: var(--color-dark);
      }
    }

    &::after {
      @include elDef();
      width: 18px;
      height: 18px;
      @include maskImage(url('../images/icons/copy.svg'), contain);
      background-color: var(--color-white);
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      transition: 200ms ease;
    }
  }
}
