<section class="advice">
  <div class="advice__content">
    <div class="advice__el">
      <h2 class="advice__title">
        Все советы для более экологичного образа жизни
      </h2>
      <a class="advice__link" href="#" ></a>
      <div class="advice__icon" href="#" aria-label="Смотреть все"></div>
    </div>
    <div class="advice__slider swiper">
      <ul class="advice__slides swiper-wrapper">
        <li class="advice__slide swiper-slide">
          <article class="advice-card">
            <div class="advice-card__top">
              <img src="images/content/advice/1.jpg" alt="Совет" />

              <a class="advice-card__link" href="#">
                Продлите срок службы мебели
              </a>
            </div>
          </article>
        </li>
        <li class="advice__slide swiper-slide">
          <article class="advice-card">
            <div class="advice-card__top">
              <img src="images/content/advice/2.jpg" alt="Совет" />

              <a class="advice-card__link" href="#"> Экономия воды </a>
            </div>
          </article>
        </li>
        <li class="advice__slide swiper-slide">
          <article class="advice-card">
            <div class="advice-card__top">
              <img src="images/content/advice/3.jpg" alt="Совет" />

              <a class="advice-card__link" href="#">
                Создаем мебель из дерева
              </a>
            </div>
          </article>
        </li>
        <li class="advice__slide swiper-slide">
          <article class="advice-card">
            <div class="advice-card__top">
              <img src="images/content/advice/4.jpg" alt="Совет" />

              <a class="advice-card__link" href="#"> Сокращение отходов </a>
            </div>
          </article>
        </li>
        <li class="advice__slide swiper-slide">
          <article class="advice-card">
            <div class="advice-card__top">
              <img src="images/content/advice/1.jpg" alt="Совет" />

              <a class="advice-card__link" href="#">
                Продлите срок службы мебели
              </a>
            </div>
          </article>
        </li>
        <li class="advice__slide swiper-slide">
          <article class="advice-card">
            <div class="advice-card__top">
              <img src="images/content/advice/2.jpg" alt="Совет" />

              <a class="advice-card__link" href="#"> Экономия воды </a>
            </div>
          </article>
        </li>
        <li class="advice__slide swiper-slide">
          <article class="advice-card">
            <div class="advice-card__top">
              <img src="images/content/advice/3.jpg" alt="Совет" />

              <a class="advice-card__link" href="#">
                Создаем мебель из дерева
              </a>
            </div>
          </article>
        </li>
        <li class="advice__slide swiper-slide">
          <article class="advice-card">
            <div class="advice-card__top">
              <img src="images/content/advice/4.jpg" alt="Совет" />

              <a class="advice-card__link" href="#"> Сокращение отходов </a>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
