<section class="catalog">
  <div class="container">
    <h2 class="catalog__title">Каталог</h2>

    <div class="catalog__wrapper">
      <div class="catalog__side side">
        <div class="side__top">
          <div class="side__box accordion">
            <button class="side__control accordion__control">Диваны</button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">Кресла</button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">
              Столы и стулья
            </button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">
              Мебель для сада
            </button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">Кровати</button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">
              Модульные гостиные
            </button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">Стенки</button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">Шкафы</button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">Кухни</button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">
              Тумбы и комоды
            </button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">
              Мебель для ванной
            </button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">Прихожие</button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">Новинка</button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">Скидки</button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="side__box accordion">
            <button class="side__control accordion__control">Распродажа</button>
            <div class="side__content accordion__content">
              <ul class="side__list">
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">Диваны</a>
                </li>
                <li class="side__item">
                  <a class="side__link side__link--dropdown" href="#">
                    Диваны
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="catalog__right">
        <ul class="catalog__list">
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img src="images/content/categories/1.png" alt="Диван" />

                <a class="categories-card__btn" href="#">Диваны</a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img src="images/content/categories/2.png" alt="Кресло" />

                <a class="categories-card__btn" href="#">Кресла</a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img
                  src="images/content/categories/3.png"
                  alt="Столы и стулья"
                />

                <a class="categories-card__btn" href="#">Столы и стулья</a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img
                  src="images/content/categories/4.png"
                  alt="Мебель для сада"
                />

                <a class="categories-card__btn" href="#">Мебель для сада</a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img src="images/content/categories/5.png" alt="Кровати" />

                <a class="categories-card__btn" href="#">Кровати</a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img
                  src="images/content/categories/6.png"
                  alt="Модульные гостиные"
                />

                <a
                  class="categories-card__btn categories-card__btn--module"
                  href="#"
                  >Модульные гостиные</a
                >
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img src="images/content/categories/7.png" alt="Стенки" />

                <a class="categories-card__btn" href="#">Стенки</a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img src="images/content/categories/8.png" alt="Шкафы" />

                <a class="categories-card__btn" href="#">Шкафы</a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img src="images/content/categories/9.png" alt="Кухни" />

                <a
                  class="categories-card__btn categories-card__btn--module"
                  href="#"
                  >Кухни</a
                >
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img
                  src="images/content/categories/10.png"
                  alt="Тумбы и комоды"
                />

                <a class="categories-card__btn" href="#">Тумбы и комоды</a>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img
                  src="images/content/categories/11.png"
                  alt="Мебель для детской"
                />

                <a
                  class="categories-card__btn categories-card__btn--children"
                  href="#"
                  >Мебель для детской</a
                >
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="categories-card">
              <div class="categories-card__top">
                <img src="images/content/categories/12.png" alt="Прихожие" />

                <a
                  class="categories-card__btn categories-card__btn--module"
                  href="#"
                  >Прихожие</a
                >
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
