<section class="conditions">
  <div class="container">
    <div class="conditions__wrapper">
      <div
        class="conditions__preview"
        style="background-image: url('images/content/conditions-img.jpg')"
      ></div>

      <div class="conditions__right">
        <h2 class="conditions__title">
          Условия получения рассрочки или кредита
        </h2>
        <div class="conditions__box">
          <span class="conditions__heading">Требования к заёмщикам:</span>

          <ul class="conditions__list">
            <li class="conditions__item">
              • возраст на момент предоставления рассрочки/кредита: 18 – 70 лет
            </li>
            <li class="conditions__item">
              • гражданство Российской Федерации, постоянная регистрация по
              месту жительства на территории РФ
            </li>
            <li class="conditions__item">
              • место проживания: в городах Российской Федерации, где есть
              присутствие банка
            </li>
          </ul>
        </div>
        <div class="conditions__box">
          <span class="conditions__heading">Дополнительные условия:</span>

          <ul class="conditions__list">
            <li class="conditions__item">
              • рассрочка/кредит предоставляются на товары, общей суммой от 5
              000 до 1.000.000 руб. Возможность оформления конкретных моделей в
              рассрочку/кредит уточняйте у менеджера
            </li>
            <li class="conditions__item">
              • стоимость доставки по заказам в рассрочку или кредит всегда
              оплачивается отдельно. Доставка никогда не идет в стоимость
              рассрочки/кредита
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
