<section class="credit-buy">
  <div class="container">
    <h2 class="credit-buy__title">
      Купить мебель в рассрочку или кредит просто
    </h2>

    <ul class="credit-buy__list">
      <li class="credit-buy__item">
        <div class="credit-buy__icon"></div>
        <h3 class="credit-buy__heading">Оформите заказ</h3>
        <p class="credit-buy__text">
          Оформите заказ в корзине, выбрав способ оплаты “В рассрочку”
        </p>
      </li>
      <li class="credit-buy__item">
        <div class="credit-buy__icon"></div>
        <h3 class="credit-buy__heading">Получите подтверждение</h3>
        <p class="credit-buy__text">
          Получите подтверждение по заказу от нашего специалиста
        </p>
      </li>
      <li class="credit-buy__item">
        <div class="credit-buy__icon"></div>
        <h3 class="credit-buy__heading">Решение о кредите</h3>
        <p class="credit-buy__text">
          Решение банка о выдаче рассрочки или кредита за 30 минут
        </p>
      </li>
    </ul>
  </div>
</section>
