<section class="delivery-bulk">
  <div class="container">
    <div class="delivery-bulk__wrapper">
      <div
        class="delivery-bulk__preview"
        style="background-image: url('images/content/delivery-bulk.jpg')"
      ></div>
      <div class="delivery-bulk__right">
        <h2 class="delivery-bulk__title">
          Доставка оптовых заказов <br />
          осуществляется по РФ
        </h2>

        <div class="delivery-bulk__text">
          <p>
            Оптовые покупатели нашей мебели, прежде всего - это кафе, рестораны
            и закусочные. Мы работаем с государственными учреждения (школы,
            столовые, учебные классы). Среднему и крупному бизнесу фабрика
            предлагает стулья для переговорных и комнат для митингов. Как
            видите, георгафия доставок велика.
          </p>

          <p>
            <span>
              Доставка осуществляется с помощью транспортных компаний СДЭК,
              Деловые линии и ПЭК.</span
            >
          </p>

          <p>
            Расчитать стоимость доставки заказа поможет ваш личный менеджер
            оптового отдела. Информация по объему коробок и весу для
            самостоятельного расчета так же есть в прайс-листе.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
