<section class="descr">
  <div class="container">
    <div class="descr__wrapper">
      <div class="descr__left">
        <h2 class="descr__title">
          Интернет-магазин <br />
          мебели «ALEXM»
        </h2>

        <div class="descr__preview">
          <img src="images/content/descr-armchair.jpg" alt="Кресло ALTXM" />
        </div>
      </div>
      <div class="descr__right">
        <div class="descr__text">
          <p>
            это сервис, созданный для тех, кто ценит свое время и предпочитает
            покупать качественные изделия напрямую от производителя.
          </p>
          <p>
            В каталоге представлены стильные гарнитуры и отдельные предметы
            интерьера, которые привнесут в дом уют и обеспечат Вам максимальный
            комфорт.
          </p>
          <p>
            Выбирайте подходящую модель по размеру, цвету, материалу и другим
            параметрам, а мы доставим ее по указанному адресу любым удобным для
            Вас способом.
          </p>
          <p>
            Наш интернет-магазин мебели обслуживает потребителей не только в
            Москве, но и по всей России, обеспечивая своевременную доставку
            товаров через транспортную компанию в любые населенные пункты
            страны.
          </p>
          <p>
            Если у Вас остались вопросы, закажите обратный звонок, мы свяжемся с
            Вами в ближайшее время.
          </p>
        </div>
        <button class="descr__btn btn btn-call" type="button">Заказать звонок</button>
      </div>
    </div>
  </div>
</section>
