<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__col footer__col--first">
          <a class="footer__logo logo" href="#">
            <img src="images/logo.png" alt="Логотип" />
          </a>

          <div class="footer__copy">
            <p>© AlexM 2022. Все права защищены.</p>
            <a href="#">Политика конфиденциальности</a>
          </div>
        </div>

        <div class="footer__cols">
          <div class="footer__col">
            <span class="footer__name">КАТАЛОГ</span>
            <div class="footer__lists">
              <ul class="footer__list">
                <li class="footer__item">
                  <a class="footer__link" href="#">Гостиная</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Спальня</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Детская</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Прихожая</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Кухня</a>
                </li>
              </ul>

              <ul class="footer__list">
                <li class="footer__item">
                  <a class="footer__link" href="#">Офис</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#"> Мягкая мебель</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#"> Шкафы и тумбы</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Столы и стулья</a>
                </li>
                <li class="footer__item">
                  <a class="footer__link" href="#">Товары для дома</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__col">
          <span class="footer__name">ИНФОРМАЦИЯ</span>

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Оплата и доставка</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Сборка мебели</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Рассрочка и кредит</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Обмен и возврат</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Гарантия</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">КОМПАНИЯ</span>

          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">О магазине</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Новости</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Оптовикам</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Отзывы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>

        <div class="footer__connect">
          <a class="footer__phone" href="tel:+7 (495)789-10-12">
            +7 (495)789-10-12
          </a>
          <p class="footer__text">ежедневно с 09:00 до 20:00</p>
          <button class="footer__btn btn btn--light" type="button">
            Заказать звонок
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
