<section class="furniture">
  <div class="container">
    <div class="furniture__wrapper">
      <div class="furniture__left">
        <h2 class="furniture__title">Сборка мебели</h2>
        <div class="furniture__text">
          <p>
            Вся корпусная мебель, и некоторые диваны поставляются в разобранном
            виде в плоских упаковках. Вы можете осуществить сборку мебели
            самостоятельно, используя схему сборки, расположенной в упаковке
            конкретного изделия, либо заказать сборку мебели у нас. Стоимость
            сборки основного ассортимента корпусной мебели 10% от стоимости (но
            не менее 2 000 рублей). Цена услуги по сборке модульных кухонных
            гарнитуров - от 15% от общей стоимости изделия без учета мойки, плюс
            150 руб. за навес каждого модуля. Подключение сантехники и бытовой
            техники не производится. Вырезка посадочного места под мойку с
            монтажом и герметизацией – 500 руб. Вырезка отверстия под варочную
            поверхность – 500 руб. При заказе услуги по сборке необходимо
            заранее подготовить помещение для сборки мебели: освободить от
            лишних предметов, вынести по возможности вещи из помещения, в
            котором будет собираться приобретенная мебель. Следует учитывать,
            что сборка корпусной мебели производится в горизонтальном положении
            конструкции. Если площадь помещения, в котором осуществляется
            сборка, не позволяет полноценно разложить конструкцию, то сборка
            изделия производится в вертикальном положении, но при этом стоимость
            сборки увеличивается на 1 000 рублей. После полного завершения
            сборки проверьте качество изделия и качество сборки в присутствии
            сборщика.
          </p>
        </div>
      </div>

      <div
        class="furniture__preview"
        style="background-image: url('images/content/furniture.jpg')"
      ></div>
    </div>
  </div>
</section>
