<section class="new-products new-products--hit-product">
  <div class="container">
    <h2 class="new-products__title new-products__title--left">Хиты продаж</h2>

    <div class="new-products__contents">
      <div class="new-products__slider swiper">
        <ul class="new-products__slides swiper-wrapper">
          <li class="new-products__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__top">
                <img src="images/content/similar/1.png" alt="Диван" />

                <a class="product-card__btns" href="#">
                  <button
                    class="product-card__btn product-card__btn--view"
                    type="button"
                    aria-label="Посмотреть"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--favorite"
                    type="button"
                    aria-label="В избранное"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--cart"
                    type="button"
                  >
                    В корзину
                  </button>
                </a>

                <div class="product-card__badge">35%</div>
              </div>

              <div class="product-card__body">
                <h3 class="product-card__title">Модульный диван Турин (НПБ)</h3>

                <p class="product-card__price">53 480 ₽</p>
              </div>
            </article>
          </li>
          <li class="new-products__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__top">
                <img src="images/content/similar/2.png" alt="Диван" />

                <a class="product-card__btns" href="#">
                  <button
                    class="product-card__btn product-card__btn--view"
                    type="button"
                    aria-label="Посмотреть"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--favorite"
                    type="button"
                    aria-label="В избранное"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--cart"
                    type="button"
                  >
                    В корзину
                  </button>
                </a>
              </div>

              <div class="product-card__body">
                <h3 class="product-card__title">Модульный диван Турин (НПБ)</h3>

                <p class="product-card__price">53 480 ₽</p>
              </div>
            </article>
          </li>
          <li class="new-products__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__top">
                <img src="images/content/similar/3.png" alt="Диван" />

                <a class="product-card__btns" href="#">
                  <button
                    class="product-card__btn product-card__btn--view"
                    type="button"
                    aria-label="Посмотреть"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--favorite"
                    type="button"
                    aria-label="В избранное"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--cart"
                    type="button"
                  >
                    В корзину
                  </button>
                </a>

                <div class="product-card__badge">35%</div>
              </div>

              <div class="product-card__body">
                <h3 class="product-card__title">Модульный диван Турин (НПБ)</h3>

                <p class="product-card__price">53 480 ₽</p>
              </div>
            </article>
          </li>
          <li class="new-products__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__top">
                <img src="images/content/similar/4.png" alt="Диван" />

                <a class="product-card__btns" href="#">
                  <button
                    class="product-card__btn product-card__btn--view"
                    type="button"
                    aria-label="Посмотреть"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--favorite"
                    type="button"
                    aria-label="В избранное"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--cart"
                    type="button"
                  >
                    В корзину
                  </button>
                </a>
              </div>

              <div class="product-card__body">
                <h3 class="product-card__title">Модульный диван Турин (НПБ)</h3>

                <p class="product-card__price">53 480 ₽</p>
              </div>
            </article>
          </li>
          <li class="new-products__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__top">
                <img src="images/content/similar/1.png" alt="Диван" />

                <a class="product-card__btns" href="#">
                  <button
                    class="product-card__btn product-card__btn--view"
                    type="button"
                    aria-label="Посмотреть"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--favorite"
                    type="button"
                    aria-label="В избранное"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--cart"
                    type="button"
                  >
                    В корзину
                  </button>
                </a>

                <div class="product-card__badge">35%</div>
              </div>

              <div class="product-card__body">
                <h3 class="product-card__title">Модульный диван Турин (НПБ)</h3>

                <p class="product-card__price">53 480 ₽</p>
              </div>
            </article>
          </li>
          <li class="new-products__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__top">
                <img src="images/content/similar/2.png" alt="Диван" />

                <a class="product-card__btns" href="#">
                  <button
                    class="product-card__btn product-card__btn--view"
                    type="button"
                    aria-label="Посмотреть"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--favorite"
                    type="button"
                    aria-label="В избранное"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--cart"
                    type="button"
                  >
                    В корзину
                  </button>
                </a>
              </div>

              <div class="product-card__body">
                <h3 class="product-card__title">Модульный диван Турин (НПБ)</h3>

                <p class="product-card__price">53 480 ₽</p>
              </div>
            </article>
          </li>
          <li class="new-products__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__top">
                <img src="images/content/similar/3.png" alt="Диван" />

                <a class="product-card__btns" href="#">
                  <button
                    class="product-card__btn product-card__btn--view"
                    type="button"
                    aria-label="Посмотреть"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--favorite"
                    type="button"
                    aria-label="В избранное"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--cart"
                    type="button"
                  >
                    В корзину
                  </button>
                </a>

                <div class="product-card__badge">35%</div>
              </div>

              <div class="product-card__body">
                <h3 class="product-card__title">Модульный диван Турин (НПБ)</h3>

                <p class="product-card__price">53 480 ₽</p>
              </div>
            </article>
          </li>
          <li class="new-products__slide swiper-slide">
            <article class="product-card">
              <div class="product-card__top">
                <img src="images/content/similar/4.png" alt="Диван" />

                <a class="product-card__btns" href="#">
                  <button
                    class="product-card__btn product-card__btn--view"
                    type="button"
                    aria-label="Посмотреть"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--favorite"
                    type="button"
                    aria-label="В избранное"
                  ></button>
                  <button
                    class="product-card__btn product-card__btn--cart"
                    type="button"
                  >
                    В корзину
                  </button>
                </a>
              </div>

              <div class="product-card__body">
                <h3 class="product-card__title">Модульный диван Турин (НПБ)</h3>

                <p class="product-card__price">53 480 ₽</p>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
  </div>
</section>
