<section class="peculiarities">
  <div class="container">
    <h2 class="visually-hidden">Особенности</h2>

    <ul class="peculiarities__list">
      <li class="peculiarities__item">
        <div class="peculiarities__icon">
          <img src="images/icons/tape-measure.svg" alt="" />
        </div>
        <div class="peculiarities__text">
          <p>
            Бесплатный выезд на замер <br>
            при оформлении заказа
          </p>
        </div>
        <a class="peculiarities__link" href="#">заказать замер </a>
      </li>
      <li class="peculiarities__item">
        <div class="peculiarities__icon">
          <img src="images/icons/kitchen.svg" alt="" />
        </div>
        <div class="peculiarities__text">
          <p>
            Бесплатный <br />
            дизайн - проект кухни
          </p>
        </div>
        <a class="peculiarities__link" href="#">заказать дизайн - проект</a>
      </li>
      <li class="peculiarities__item">
        <div class="peculiarities__icon">
          <img src="images/icons/towels.svg" alt="" />
        </div>
        <div class="peculiarities__text">
          <p>
            Компановка и помощь <br />
            в подборе тканей
          </p>
        </div>
        <a class="peculiarities__link" href="#">попросить помочь</a>
      </li>
      <li class="peculiarities__item">
        <div class="peculiarities__icon">
          <img src="images/icons/wardrobe.svg" alt="" />
        </div>
        <div class="peculiarities__text">
          <p>
            Бесплатные проекты <br />
            шкафов, гардеробных
          </p>
        </div>
        <a class="peculiarities__link" href="#">заказать проект</a>
      </li>
    </ul>
  </div>
</section>
