<section class="product">
  <div class="container">
    <h2 class="product__title">Диван-кровать Индиана JLOZ 80/160 Дуб</h2>
    <div class="product__wrapper">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__nav swiper" id="slider-nav">
            <ul class="swiper-wrapper">
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/1-big.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/2.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/3.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/4.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/1-big.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/2.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/3.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/4.png" alt="Слайд №1" />
              </li>
            </ul>
          </div>

          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <img src="images/content/product/1-big.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/2.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/3.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/4.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/1-big.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/2.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/3.png" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/4.png" alt="Слайд №1" />
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="product__right">
        <div class="product__spec product-spec">
          <span class="product-spec__title">Характеристики</span>
          <ul class="product-spec__list">
            <li class="product-spec__item">
              <div class="product-spec__left">Производитель</div>
              <div class="product-spec__right color-accent">
                Black Red White
              </div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Материал</div>
              <div class="product-spec__right color-accent">ЛДСП</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Ширина</div>
              <div class="product-spec__right">1540 мм</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Высота</div>
              <div class="product-spec__right">605 мм</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Глубина</div>
              <div class="product-spec__right">2025 мм</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Категория</div>
              <div class="product-spec__right color-accent">Диваны</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Цвет</div>
              <div class="product-spec__right color-accent">Бежвый</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Вес</div>
              <div class="product-spec__right">102.006 кг</div>
            </li>
            <li class="product-spec__item">
              <div class="product-spec__left">Объем</div>
              <div class="product-spec__right">0.672 м3</div>
            </li>
          </ul>
        </div>

        <div class="product__details product-details">
          <p class="product-details__price"><span>28 200 ₽</span> / шт</p>

          <div class="product-details__details">
            <p class="product-details__stock">В наличии: 18</p>
            <a class="product-details__cheaper" href="#">Нашли дешевле?</a>
          </div>

          <div class="product-details__actions">
            <span class="product-details__name">Количество</span>
            <div class="product-details__actions-inner">
              <div class="product-details__counter counter">
                <button
                  class="counter__btn counter__btn--decrease"
                  type="button"
                  aria-label="Добавить"
                >
                  -
                </button>
                <input class="counter__input" type="number" value="1" />
                <button
                  class="counter__btn counter__btn--increase"
                  type="button"
                  aria-label="Вычесть"
                >
                  +
                </button>
              </div>

              <button class="product-details__cart btn" type="button">
                В корзину
              </button>

              <button
                class="product-details__btn-click btn btn--transparent"
                type="button"
              >
                Купить в 1 клик
              </button>
            </div>
          </div>

          <ul class="product-details__list">
            <li class="product-details__item product-details__item--pickup">
              Самовывоз в течении 1-7 дней
            </li>
            <li class="product-details__item product-details__item--delivery">
              Доставка рассчитывается индивидуально и происходит в течении 1-7
              рабочих дней
            </li>
          </ul>

          <div class="product-details__notify">
            <p>
              Цена действительна только для интернет-магазина и может отличаться
              от цен в розничных магазинах
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="product__tabs product-tabs tabs">
      <div class="product-info__top">
        <ul class="product-info__top-list">
          <li class="product-info__top-item">
            <button
              class="product-info__top-btn tabs-btn tabs-btn--active"
              type="button"
            >
              Описание
            </button>
          </li>
          <li class="product-info__top-item">
            <button class="product-info__top-btn tabs-btn" type="button">
              Характеристики
            </button>
          </li>

          <li class="product-info__top-item">
            <button class="product-info__top-btn tabs-btn" type="button">
              Отзывы
            </button>
          </li>
          <li class="product-info__top-item">
            <button class="product-info__top-btn tabs-btn" type="button">
              Оплата и доставка
            </button>
          </li>
        </ul>
      </div>

      <div class="product-info__wrapper">
        <div class="product-info__content tabs-content active">
          <div class="product-info__text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
        <div class="product-info__content tabs-content">
          <div class="product-info__text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
        <div class="product-info__content tabs-content">
          <div class="product-info__text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>

        <div class="product-info__content tabs-content">
          <!-- <div class="product-info__comments comments">
            <form class="comments__form form-comment">
              <div class="form-comment__wrapper">
                <div class="form-comment__left">
                  <div class="form-comment__img">
                    <img src="images/content/comment.jpg" alt="аватар" />
                  </div>

                  <div class="form-comment__set">
                    <label class="custom-file-upload" for="file-upload">
                      Установить аватар
                    </label>
                    <input id="file-upload" type="file" />
                  </div>
                </div>

                <div class="form-comment__right">
                  <div class="form-comment__inputs">
                    <label class="form-comment__group">
                      <input
                        class="form-comment__input"
                        type="text"
                        placeholder="Имя и Фамилия"
                      />
                    </label>
                    <label class="form-comment__group">
                      <input
                        class="form-comment__input"
                        type="text"
                        placeholder="Тема комментария"
                      />
                    </label>

                    <label
                      class="form-comment__group form-comment__group--textarea"
                    >
                      <textarea
                        class="form-comment__input"
                        placeholder="Ваш комментарий"
                      ></textarea>
                    </label>
                  </div>

                  <div class="form-comment__bottom">
                    <div class="form-comment__come come-box">
                      <span class="come-box__title">Войти с</span>

                      <ul class="come-box__list">
                        <li class="come-box__item">
                          <a
                            class="come-box__link come-box__link--vk"
                            href="#"
                          ></a>
                        </li>
                        <li class="come-box__item">
                          <a
                            class="come-box__link come-box__link--facebook"
                            href="#"
                          ></a>
                        </li>
                      </ul>
                    </div>

                    <label
                      class="form-comment__group form-comment__group--email"
                    >
                      <input
                        class="form-comment__input"
                        type="email"
                        placeholder="Электронная почта"
                      />
                    </label>

                    <div class="form-comment__rating rating-choose">
                      <span>Рейтинг</span>

                      <div class="rating-area">
                        <input
                          type="radio"
                          id="star-5"
                          name="rating"
                          value="5"
                        />
                        <label for="star-5" title="Оценка «5»"></label>
                        <input
                          type="radio"
                          id="star-4"
                          name="rating"
                          value="4"
                        />
                        <label for="star-4" title="Оценка «4»"></label>
                        <input
                          type="radio"
                          id="star-3"
                          name="rating"
                          value="3"
                        />
                        <label for="star-3" title="Оценка «3»"></label>
                        <input
                          type="radio"
                          id="star-2"
                          name="rating"
                          value="2"
                        />
                        <label for="star-2" title="Оценка «2»"></label>
                        <input
                          type="radio"
                          id="star-1"
                          name="rating"
                          value="1"
                        />
                        <label for="star-1" title="Оценка «1»"></label>
                      </div>
                    </div>

                    <button class="form-comment__btn btn" type="submit">
                      Отправить
                    </button>
                  </div>
                </div>
              </div>
            </form>

            <div class="comments__count">
              <p><span>2</span> комментария</p>
            </div>

            <ul class="comments__list">
              <li class="comments-item">
                <div class="comments-item__left">
                  <img
                    class="comments-item__img"
                    src="images/content/comment.jpg"
                    alt="Аватар"
                  />
                </div>

                <div class="comments-item__right">
                  <div class="comments-item__top">
                    <div class="comments-item__top-left">
                      <span class="comments-item__heading"
                        >Отличный ремонт!</span
                      >
                      <div class="comments-item__info">
                        <p class="comments-item__name">Иван Иванов</p>
                        <span class="comments-item__date">27.04.2022</span>
                      </div>
                    </div>
                    <div class="comments-item__top-right">
                      <div class="rating"></div>
                      <div class="comments-item__count">
                        <span>5</span>
                      </div>
                    </div>
                  </div>

                  <div class="comments-item__text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries, but also the leap into electronic typesetting,
                      remaining essentially unchanged. It was popularised in the
                      1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing
                      software like Aldus PageMaker including versions of Lorem
                      Ipsum.
                    </p>
                  </div>

                  <button class="comments-item__answer-btn" type="button">
                    Ответить
                  </button>
                </div>
              </li>
              <li class="comments-item">
                <div class="comments-item__left">
                  <img
                    class="comments-item__img"
                    src="images/content/no-avatar.png"
                    alt="Аватар"
                  />
                </div>

                <div class="comments-item__right">
                  <div class="comments-item__top">
                    <div class="comments-item__top-left">
                      <span class="comments-item__heading"
                        >Отличный ремонт!</span
                      >
                      <div class="comments-item__info">
                        <p class="comments-item__name">Иван Иванов</p>
                        <span class="comments-item__date">27.04.2022</span>
                      </div>
                    </div>
                    <div class="comments-item__top-right">
                      <div class="rating"></div>
                      <div class="comments-item__count">
                        <span>5</span>
                      </div>
                    </div>
                  </div>

                  <div class="comments-item__text">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries, but also the leap into electronic typesetting,
                      remaining essentially unchanged. It was popularised in the
                      1960s with the release of Letraset sheets containing Lorem
                      Ipsum passages, and more recently with desktop publishing
                      software like Aldus PageMaker including versions of Lorem
                      Ipsum.
                    </p>
                  </div>

                  <button class="comments-item__answer-btn" type="button">
                    Ответить
                  </button>
                </div>
              </li>
            </ul>
          </div> -->
          <div class="product-info__text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
