<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы наших клиентов</h2>

    <ul class="reviews__list">
      <li class="reviews__item">
        <article class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__author">
              <img
                class="reviews-card__avatar"
                src="images/content/reviews/1.jpg"
                alt="Иван"
              />
            </div>
            <div class="reviews-card__right">
              <div class="reviews-card__info">
                <p class="reviews-card__date">08 апреля 2022</p>
                <h3 class="reviews-card__name">Иванов Иван Владимирович</h3>
              </div>
              <div class="reviews-card__rating rating">
                <ul class="rating__stars">
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="reviews-card__body">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__author">
              <img
                class="reviews-card__avatar"
                src="images/content/reviews/2.jpg"
                alt="Иван"
              />
            </div>
            <div class="reviews-card__right">
              <div class="reviews-card__info">
                <p class="reviews-card__date">08 апреля 2022</p>
                <h3 class="reviews-card__name">Иванов Иван Владимирович</h3>
              </div>
              <div class="reviews-card__rating rating">
                <ul class="rating__stars">
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="reviews-card__body">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__author">
              <img
                class="reviews-card__avatar"
                src="images/content/reviews/1.jpg"
                alt="Иван"
              />
            </div>
            <div class="reviews-card__right">
              <div class="reviews-card__info">
                <p class="reviews-card__date">08 апреля 2022</p>
                <h3 class="reviews-card__name">Иванов Иван Владимирович</h3>
              </div>
              <div class="reviews-card__rating rating">
                <ul class="rating__stars">
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="reviews-card__body">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__author">
              <img
                class="reviews-card__avatar"
                src="images/content/reviews/2.jpg"
                alt="Иван"
              />
            </div>
            <div class="reviews-card__right">
              <div class="reviews-card__info">
                <p class="reviews-card__date">08 апреля 2022</p>
                <h3 class="reviews-card__name">Иванов Иван Владимирович</h3>
              </div>
              <div class="reviews-card__rating rating">
                <ul class="rating__stars">
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="reviews-card__body">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__author">
              <img
                class="reviews-card__avatar"
                src="images/content/reviews/1.jpg"
                alt="Иван"
              />
            </div>
            <div class="reviews-card__right">
              <div class="reviews-card__info">
                <p class="reviews-card__date">08 апреля 2022</p>
                <h3 class="reviews-card__name">Иванов Иван Владимирович</h3>
              </div>
              <div class="reviews-card__rating rating">
                <ul class="rating__stars">
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="reviews-card__body">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__author">
              <img
                class="reviews-card__avatar"
                src="images/content/reviews/2.jpg"
                alt="Иван"
              />
            </div>
            <div class="reviews-card__right">
              <div class="reviews-card__info">
                <p class="reviews-card__date">08 апреля 2022</p>
                <h3 class="reviews-card__name">Иванов Иван Владимирович</h3>
              </div>
              <div class="reviews-card__rating rating">
                <ul class="rating__stars">
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="reviews-card__body">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__author">
              <img
                class="reviews-card__avatar"
                src="images/content/reviews/1.jpg"
                alt="Иван"
              />
            </div>
            <div class="reviews-card__right">
              <div class="reviews-card__info">
                <p class="reviews-card__date">08 апреля 2022</p>
                <h3 class="reviews-card__name">Иванов Иван Владимирович</h3>
              </div>
              <div class="reviews-card__rating rating">
                <ul class="rating__stars">
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="reviews-card__body">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </article>
      </li>
      <li class="reviews__item">
        <article class="reviews-card">
          <div class="reviews-card__top">
            <div class="reviews-card__author">
              <img
                class="reviews-card__avatar"
                src="images/content/reviews/2.jpg"
                alt="Иван"
              />
            </div>
            <div class="reviews-card__right">
              <div class="reviews-card__info">
                <p class="reviews-card__date">08 апреля 2022</p>
                <h3 class="reviews-card__name">Иванов Иван Владимирович</h3>
              </div>
              <div class="reviews-card__rating rating">
                <ul class="rating__stars">
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                  <li class="rating__star"></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="reviews-card__body">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </article>
      </li>
    </ul>

    <div class="reviews__bottom">
      <button class="reviews__btn" type="button">Показать еще</button>
    </div>
  </div>
</section>
