<section
  class="subscription"
  style="background-image: url('images/content/subscription-bg.jpg')"
>
  <div class="container">
    <h2 class="subscription__title">Подписка в соц сетях</h2>
    <div class="subscription__text">
      <p>
        Подпишитесь на нас в социальных сетях и первым узнавайте о новинках,
        скидках и акциях нашего магазина
      </p>
    </div>

    <div class="subscription__socials socials">
      <ul class="socials__list">
        <li class="socials__item">
          <a class="socials__link socials__link--pinterest" href="#"></a>
        </li>
        <li class="socials__item">
          <a class="socials__link socials__link--vk" href="#"></a>
        </li>
        <li class="socials__item">
          <a class="socials__link socials__link--ok" href="#"></a>
        </li>
        <li class="socials__item">
          <a class="socials__link socials__link--telegram" href="#"></a>
        </li>
        <li class="socials__item">
          <a class="socials__link socials__link--whatsapp" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</section>
